<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Existing permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Additional permissions for alarms -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ofekrealpro"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity1"
            android:exported="false" />
        <!-- Register the BroadcastReceiver with proper attributes -->
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" /> <!-- Activities -->
        <activity
            android:name=".MyApplication"
            android:exported="false" />
        <activity
            android:name=".AddTestActivity"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".FutureTestsFragment"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".loginS"
            android:exported="true" />
        <activity
            android:name=".MusicScreen"
            android:exported="true" />
        <activity
            android:name=".StopwatchActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".first"
            android:exported="true" />
    </application>

</manifest>